$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
            
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
        // .ugly{
        //     background-color: #247648;
        //     width: 50%;
        // }
        input[type="file"] {
            display: none;
            // display: block;
        }
        .why {
            display: block !important;
            .fa {
                display: block !important;
            }
            // position: relative;
            // bottom: 30px !important;
        }
        // .custom-file-upload {
        //     border: 1px solid #ccc;
        //     display: inline-block;
        //     padding: 6px 12px;
        //     cursor: pointer;
        // }
        
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
