
<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <!-- <input type="file"  value="Browse" class="btn form-control-file .col-lg-3 .col-md-3 " id="exampleFormControlFile1">
        <button class="btn btn-outline-primary .col-lg-3 .col-md-3 " (click)=onUpload()>Upload</button> -->
        
        
        <label for="sel1">Year:</label>
        <div class="form-group">
            

                <select class="form-control" id="sel1" > 
                        <option *ngFor="let yr of years" >{{yr}}</option>
                </select>
                
            
              
            </div>
              <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary .col-lg-3 .col-md-3" data-toggle="modal" (click)="onOpen()">
        Filter
      </button>
      
      <!-- Modal -->
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title"> hello</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    
                    
                    <div *ngFor="let type of types" >
                            <h5 >
                                <input type="checkbox" id="country" [(ngModel)] = "type.select" [ngModelOptions]="{standalone: true}" (change)="selectAll($event);">{{type.category}}<br>
                            </h5>
                            <div fxLayout="row">
                                <div *ngFor="let country of type.countries" >
                                <input type="checkbox" [(ngModel)]="country.selected">{{country.country}} 
                                </div>
                            </div>
                        </div>
                        
                            
                            
                            <br>
                            
                            
                            <h5>
                                    <input type="checkbox" id="country" [(ngModel)] = "selects" (change)="selectAll($event);">{{types[1].category}}<br>
                                </h5>
                                <div fxLayout="row"><div *ngFor="let country of types[1].countries" >
                                    <input type="checkbox" [(ngModel)]="country.selected">{{country.country}} 
                                </div>
                                </div>
                                <br>
                    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="onClose()" >Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
              
    </div>
    
    <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        GDP
                    </div>
                    <div class="card-body">
                            <canvas baseChart height="180px" [data]="pieChartData" [labels]="countries" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                    
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        GDP PPP
                    </div>
                    <div class="card-body">
                            <canvas baseChart height="180px" [data]="pieChartData" [labels]="retrieveCountry()" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Population
                </div>
                <div class="card-body">
                        <canvas baseChart height="180px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
                
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Standard of Living
                </div>
                <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Significance of Consumer Spending
                </div>
                <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Ease of Doing Business
                </div>
                <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Real GDP YOY Growth
                </div>
                <div class="card-body">
                        <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Nominal GDP in USD
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Population over the Years
                    </div>
                    <div class="card-body">
                            <canvas baseChart height="180" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Unemployment
                        </div>
                        <div class="card-body">
                                <canvas baseChart height="180" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                    </canvas>
                        </div>
                    </div>
                </div>
        </div>
        <h3>G7</h3>
        <div class="row">
                <div class="col col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                           Real GDP YOY Growth 
                        </div>
                        <div class="card-body">
                                <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                    </canvas>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            CPI YOY Change
                        </div>
                        <div class="card-body">
                                <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
</div>
