
<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <!-- Need to space properly-->
    <div class="row">
            <label class=".col-lg-3 .col-md-3" for="sel1">Year:</label>
            <div class="form-group">
                    <select (change)="filterForeCasts($event.target.value)" class="form-control" id="sel1" > 
                            <option *ngFor="let yr of years" >{{yr}}</option>
                    </select>
                </div>
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-outline-primary .col-lg-3 .col-md-3" data-toggle="modal" (click)="onOpen()">
                    Filter
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <p class="modal-title"> hello</p>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                
                                
                                <div *ngFor="let type of types" >
                                        <h5 >
                                            <input type="checkbox" id="country" [(ngModel)] = "type.select" [ngModelOptions]="{standalone: true}" (change)="selectAll($event);">{{type.category}}<br>
                                        </h5>
                                        <div fxLayout="row">
                                            <div *ngFor="let country of type.countries" >
                                            <input type="checkbox" [(ngModel)]="country.selected">{{country.country}} 
                                            </div>
                                        </div>
                                    </div>
                                    
                                        
                                        
                                        <br>
                                        
                                        
                                        <h5>
                                                <input type="checkbox" id="country" [(ngModel)] = "selects" (change)="selectAll($event);">{{types[1].category}}<br>
                                            </h5>
                                            <div fxLayout="row"><div *ngFor="let country of types[1].countries" >
                                                <input type="checkbox" [(ngModel)]="country.selected">{{country.country}} 
                                            </div>
                                            </div>
                                            <br>
                                
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="onClose()" >Close</button>
                          <button type="button" class="btn btn-primary">Apply</button>
                        </div>
                      </div>
                    </div>
                  </div>
        <div></div>

        <!-- <input type="file"  value="Browse" class="btn form-control-file .col-lg-3 .col-md-3 " id="exampleFormControlFile1">
        <button class="btn btn-outline-primary .col-lg-3 .col-md-3 " (click)=onUpload()>Upload</button> -->
        
        <!-- <h1>Test</h1> -->
        
        <!-- <label class=".col-2 .col-sm-1 .col-md-1 .col-lg-1 .col-xl-1" for="sel1">Year:</label> -->
        

        <!-- div class="form-group">
                <select (change)="filterForeCasts($event.target.value)" class="form-control" id="sel1" > 
                        <option *ngFor="let yr of years" >{{yr}}</option>
                </select>
            </div -->
       
              
    </div>
    
    <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Real GDP
                    </div>
                    <div class="card-body" *ngIf = "filtGDP">
                            <canvas baseChart height="180px" [data]="filtGDP" [labels]="countries_sorted_by_gdp" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                    
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        GDP PPP
                    </div>
                    <div class="card-body" *ngIf = "filtGDPppp">
                            <canvas baseChart height="180px" [data]="filtGDPppp" [labels]="countries" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header" >
                    Population
                </div>
                <div class="card-body" *ngIf = "filtPop">
                        <canvas baseChart height="180px" [data]="filtPop" [labels]="countries" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
                
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Standard of Living
                </div>
                <div class="card-body" *ngIf = "filtstandOfLiving">
                        <canvas baseChart [data]="filtstandOfLiving" [labels]="countries" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Significance of Consumer Spending
                </div>
                <div class="card-body" *ngIf = "filtConSpend">
                        <canvas baseChart [data]="filtConSpend" [labels]="countries" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Ease of Doing Business
                </div>
                <div class="card-body" *ngIf = "filtEaseofDoingBus">
                        <canvas baseChart [data]="filtEaseofDoingBus" [labels]="countries" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                </div>
            </div>
        </div>
    </div>    
</div>
