<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="https://pbs.twimg.com/profile_images/325145298/Twitter-logo2_400x400.gif" width="150px" class="user-avatar" />
            <h1>Alliance Data Admin</h1>
            <form role="form">
                <div class="form-content">
            

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/admin-chart']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
               
            </form>
        </div>
    </div>
</div>
